ul.list-header {
	font-size: 3rem;
	font-family: "Lato-bold";
	width: 96%;
	padding: 0 2% 1.5rem 2%;
}

ul.bets-list-data {
	font-size: 3rem;
}
li.item-bets-list {
	width: 96%;
	padding: 1rem 2%;
	border-bottom: solid .2rem #fff;
	cursor: pointer;
}

li.item-bets-list:hover {
	background-color: #c2c2c2;
}

ul.list-header li:nth-child(1), li.item-bets-list ul li:nth-child(1){
	width: 24%;
}

ul.list-header li:nth-child(2), li.item-bets-list ul li:nth-child(2){
	width: 24%;
}

ul.list-header li:nth-child(3), li.item-bets-list ul li:nth-child(3){
	width: 24%;
}

ul.list-header li:nth-child(4), li.item-bets-list ul li:nth-child(4){
	width: 24%;
}

ul.list-header li:nth-child(5), li.item-bets-list ul li:nth-child(5){
	width: 4%;
}
