@import "font-lato.css";

html { font-size: 100%; }
section,nav,header,aside,h1,h2,h3,h4,h5,h6,hgroup,footer,ul,li,main { display: block; padding: 0; margin: 0; }
body { padding: 0; margin: 0; background-color:#FCFCFC; font-size: 16px;  font-family: "Lato-Regular"; position: relative; }

main { 
	display: inline-block;
	width: 100%; 
	height: 100%;
	color: #000; 
}
label {
	width: 100%;
	display: inline-block;
	font-size: 5rem;
	font-family: "Lato-bold";
}
input { 
	width: 98%;
	padding: 0 0 0 2%;
	height: 8rem;
	border: solid 2px #000;
	font-size: 4.5rem;
	border-radius: 1.5rem;
}

input[type=checkbox] {
  	display: none;
  	float: left;    
}
input[type=checkbox] + label span {
	display: inline-block;
	width: 56px;
	height: 46px;
	background: url("../images/assets.svg") left top no-repeat;
	background-position: -195px -34px;
	margin: 0 20px 0 0;
	float: left;
}

input[type=checkbox]:checked + label span{
	background-position: -267px -34px;
}

input[type=checkbox] + label p{
	float: left;
	padding: 0;
	margin: 0;
}

select { 
	/*background: transparent;*/
   	width: 100%;
	padding: 0 0 0 2%;
	height: 8rem;
	font-size: 4.5rem;
   	line-height: 1;
   	border: 0;
   	border-radius: 0;
   	-webkit-appearance: none;
   	background: #F1623D;
	color: #fff;
	border-radius: 1.5rem;
}

ul { 
	list-style: none;
	display: inline-block;
	width: 100%;
}

li {
	float: left;
}

/* GENERIC CLASSES */
.btn {
	text-align: center;
	cursor: pointer;
	position: relative;
}
.btn .btn-content {
	display: inline-block;
}

.btn-close {
	position: absolute;
	right: 20px;
	top: 20px;
}

.icon {
	display: inline-block;
	top: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	right: 0;
	margin: auto;
	background: transparent url("../images/assets.svg");	
}

.wrapper-icon {
	display: inline-block;
}

.error-log {
	color: red;
	text-align: center;
}

.logo {
	width: 516px;
	height: 99px;
	background: transparent url("../images/logo.png");
	margin: 0 auto;
}

.popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 25%;
	margin: auto;
}

.overlay {
	width: 100%;
	min-height: 5rem;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
}

.highlighted {
	font-family: "Lato-Bold";
}
/* END GENERIC CLASSES */



section h1.main-title {
	font-size: 4.33rem;
	text-align: center;
	font-family: Lato-light;
}

section.view {
	width: 100%;
	position: relative;
	display: inline-block;
	margin-top: 9rem;
}

section.view header.header-view {
	width: 100%;
	display: inline-block;
	float: left;
	padding: 2rem 0;
}

section.view .content-view {
	width: 86%;
	/*margin-top: 6rem;*/
	padding: 3rem 7% 0 7%;
	float: left;
	display: inline-block;
}

.item-content-view {
	width: 100%;
	float: left;
	font-size: 3rem;
	margin-bottom: 3rem;
}

.item-content-view h1 {
	font-size: 3.5rem;
	margin-bottom: 1rem;
}

.item-content-view nav.app-nav li {
	width: 100%;
	padding: 1rem 0;
	background-color:#2B858D;
	text-align: center;
	/*font-size: 3rem;*/
	margin-bottom: 1.25rem;
	border-radius: .75rem;
}

.item-content-view nav.app-nav li:last-child {
	margin-bottom: 0;
}


/* Pantallas de loteria, estos estilos se comparten en varias pantallas */
.list-options-bet {
	padding: 1rem 0 0 0;
}

.item-bet-option {
	width: 100%;
	margin: 0 0 4rem 0;
	display: inline-block;
	font-size: 3.5rem;
}

.item-total-amount.item-total-amount {
	font-size: 4.5rem;
}

.item-bet-option label {
	margin-bottom: 0.3rem;
}


.lottery {
	background-color: #f5f5f5;
	padding: 2rem 2rem 0 2rem;
	border-radius: 1rem;
	margin-bottom: 2rem;
}

.lottery header.header-lottery {
	width: 100%;
	display: inline-block;
	padding: 1rem 0 5rem 0;
	font-size: 4rem;
}

.lottery header.header-lottery span {
	width: 100%;
}

.lottery label {
	font-size: 4.5rem;
}

.wrapper-container-lotteries .lottery:last-child{
	margin-bottom: 0rem;
}

nav.commands-nav {
	text-align: center;
}

nav.commands-nav ul {
	width: auto;
}

nav.commands-nav ul li {
	width: 14rem;
	height: 14rem;
	float: left;
	color:#033D5C;
}

.checkbox-list .item-checkbox {
	width: 50%;
	float: left;
	margin-bottom: 2rem;
}

.item-checkbox {
	width: 100%;
}

.item-checkbox span {
	font-size: 1.5rem;
}

/* Start popup */

.popup.popup-bet-options {
	width: 70%;
	padding: 2rem;
	color: #fff;
	background-color: black;
	font-size: 3.5rem;
	border:solid .1rem #404041;
}

.popup.popup-bet-options nav ul li {
	width: 96%;
	padding: 1rem 2%;
	background-color: orange;
	margin-bottom:1rem; 
}
.popup.popup-bet-options nav ul li:last-child {
	margin-bottom: 0;
}

/* End popup */

/* Media querys */
@media screen and (max-width:600px), screen and (max-height: 925px) {
	html {
		font-size: 50%;
	}

	.icon {
		transform: scale(.75,.75);
	}
}

@media only screen and (orientation : landscape) {
	.item-menu-home:nth-child(even) {
		/*margin-right: 6rem;*/
	}
}

