@import "font-lato.css";

section,nav,header,aside,h1,h2,h3,h4,h5,h6,hgroup,footer,ul,li,main { display: block; padding: 0; margin: 0; }
body { padding: 0; margin: 0; background-color:#004056; font-size: 16px;  font-family: "Lato-Regular"; position: relative; }

main { 
	display: inline-block;
	width: 100%; 
	height: 100%;
	color: #fff; 
}
label {
	width: 100%;
	display: inline-block;
	font-size: 5rem;
	font-family: "Lato-bold";
}
input { 
	width: 98%;
	padding: 0 0 0 2%;
	height: 8rem;
	font-size: 4.5rem;
}

input[type=checkbox] {
   padding-left:1rem;
    padding-right:1rem;
    border-radius:.5rem;

    /*-webkit-appearance:button;*/

    border: double 2px #00F;

    background-color:#0b0095;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:3rem;
    height:3rem;
}

select { 
	/*background: transparent;*/
   	width: 100%;
	padding: 0 0 0 2%;
	height: 8rem;
	font-size: 4.5rem;
   	line-height: 1;
   	border: 0;
   	border-radius: 0;
   	-webkit-appearance: none;
}

ul { 
	list-style: none;
	display: inline-block;
	width: 100%;
}

li {
	float: left;
}

/* GENERIC CLASSES */
.btn {
	text-align: center;
	cursor: pointer;
}
.btn .btn-content {
	display: inline-block;
}

.btn-close {
	position: absolute;
	right: 20px;
	top: 20px;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	background: transparent url("../images/assets.svg");	
}

.wrapper-icon {
	display: inline-block;
}

.error-log {
	color: red;
	text-align: center;
}

.logo {
	width: 516px;
	height: 99px;
	background: transparent url("../images/logo.png");
	margin: 0 auto;
}

.popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 25%;
	margin: auto;
}

.overlay {
	width: 100%;
	min-height: 5rem;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
}

.highlighted {
	font-family: "Lato-Bold";
}
/* END GENERIC CLASSES */

header.default-header {
	top:0;
	position: fixed;
	width: 100%;
	height: 9rem;
	background-color: red;
	clear: both;
}

header.default-header .btn-settings, header.default-header .btn-home {
	width: 9rem;
	height: 9rem;
	
	background-color:#2B858D;
}

header.default-header .btn-home {
	float: left;
}
header.default-header .btn-settings {
	float: right;
}


section h1.main-title {
	font-size: 4.33rem;
	text-align: center;
	font-family: Lato-light;
}

section.view {
	width: 100%;
	position: relative;
	display: inline-block;
	margin-top: 9rem;
}

section.view header.header-view {
	width: 100%;
	display: inline-block;
	float: left;
	padding: 2rem 0;
}

section.view .content-view {
	width: 86%;
	/*margin-top: 6rem;*/
	padding: 5rem 7% 0 7%;
	float: left;
	display: inline-block;
}

.item-content-view {
	width: 100%;
	float: left;
	font-size: 3rem;
	margin-bottom: 3rem;
}

.item-content-view h1 {
	font-size: 3.5rem;
	margin-bottom: 1rem;
}

.item-content-view nav.app-nav li {
	width: 100%;
	padding: 1rem 0;
	background-color: green;
	text-align: center;
	/*font-size: 3rem;*/
	margin-bottom: 1rem;
}

.item-content-view nav.app-nav li:last-child {
	margin-bottom: 0;
}


/* Pantallas de loteria, estos estilos se comparten en varias pantallas */
.list-options-bet {
	padding: 1rem 0 0 0;
}

.item-bet-option {
	width: 100%;
	margin: 0 0 1rem 0;
	display: inline-block;
	font-size: 3.5rem;
}

.item-bet-option label {
	margin-bottom: 0.3rem;
}

.lottery {

}

.lottery header.header-lottery {
	width: 100%;
	display: inline-block;
	padding: 1rem 0 2rem 0;
}

.lottery header.header-lottery span {
	width: 100%;
}

.lottery label {
	font-size: 4.5rem;
}

nav.commands-nav {
	position: fixed;
	bottom:0;
}
nav.commands-nav ul li {
	width: 14rem;
	height: 14rem;
	background-color: black;
	float: left;
}

.checkbox-list .item-checkbox {
	width: 50%;
	float: left;
	margin-bottom: 2rem;
}

.item-checkbox {
}

.item-checkbox span {
	font-size: 1.5rem;
}

/* Start popup */

.popup.popup-bet-options {
	width: 70%;
	padding: 2rem;
	color: #fff;
	background-color: black;
	font-size: 3.5rem;
	border:solid .1rem #404041;
}

.popup.popup-bet-options nav ul li {
	width: 96%;
	padding: 1rem 2%;
	background-color: orange;
	margin-bottom:1rem; 
}
.popup.popup-bet-options nav ul li:last-child {
	margin-bottom: 0;
}

/* End popup */

