section.view.home .content-view {
	padding-top: 10rem;
}

.list-menu-home {
	display: inline-block;
	padding: 0 1.275rem;
}

.item-menu-home {
	width: 26.5rem;
	margin: 0 1.8rem 5rem 1.8rem;
	text-align: center;
	float: left;
}

.item-menu-home:nth-child(even) { }

.btn-home {
	width: 100%;
	height: 26.5rem;
	position: relative;
	background-color:#F1623D;
}

.item-menu-home span {
	display: inline-block;
	font-family: "Lato-Italic";
	padding-top: 2rem;
	font-size: 3.4rem;
}

.item-menu-home .icon {
	width: 23rem;
	height: 23rem;
}

.icon-generate-bet {	
	background-position: -13px -875px;
}

.icon-bet-home {
  	background-position: -216px -875px;
}

.icon-show-bets {	
	background-position: -834px -875px;
}

.icon-synchronize {	
	background-position: -612px -875px;
}