section.view.home .content-view {
	padding-top: 10rem;
}

.list-menu-home {
	display: inline-block;
	padding: 0 1.275rem;
}

.item-menu-home {
	width: 25rem;
	margin:0 6rem 5.5rem 0;
	text-align: center;
	float: left;
}

.item-menu-home:nth-child(even) {
	margin-right: 0;
}

.btn-home {
	width: 100%;
	height: 25rem;
	position: relative;
	background-color:#F1623D;
}

.item-menu-home span {
	display: inline-block;
	font-family: "Lato-Italic";
	padding-top: 2rem;
	font-size: 3.4rem;
}

.item-menu-home .icon {
	width: 21.5rem;
	height: 21.5rem;
}

.icon-generate-bet {	
	background-position: -20px -881px;
}

.icon-show-bets {	
	background-position: -841px -878px;
}

.icon-synchronize {	
	background-position: -629px -878px;
}