.popup.popup-bet-options {
	width: 70%;
  padding: 4rem 2rem 3rem 2rem;
  color: #fff;
  background-color: #E2E2E2;
  color: #000;
  font-size: 3.5rem;
  border: solid .3rem #A9A9A9;
  position: absolute;
  text-align: center;
  border-radius: 1rem;

}

.popup.popup-bet-options h1{
	text-align: center;
	font-size: 8rem;
	color: #F1623D;
	font-family: "Lato-Bold";
	background-color: #fff;
	padding: 0 4rem 0 4rem;
	display: inline-block;
	border-radius: 3rem;
	margin-bottom: 3rem;
}

.popup.popup-bet-options nav ul li {
	width: 96%;
	padding: 0 2%;
}
.popup.popup-bet-options nav ul li:last-child {
	margin-bottom: 0;
}

.popup.popup-bet-options .btn .icon {
	width: 19rem;
	height: 19rem;
	position: relative;
	float: left;
	transform:scale(.75,.75);
}

.popup.popup-bet-options .btn span {
	float: left;
line-height: 19rem;
font-size: 7rem
}

.popup.popup-bet-options .btn-close span {
	font-size: 2.8rem;
	line-height: 100%;
	padding: 1rem;
}

.popup.popup-bet-options .btn .icon-edit {
	background-position: -25px -432px;
}

.popup.popup-bet-options .btn-synchronize .icon-synchronize {
	background-position: -429px -432px;
}

.popup.popup-bet-options .btn-remove .icon-remove {
	background-position: -227px -432px;
}