section.view.user-settings {
	color:#fff;
	width: 80%;
	min-height: 111rem;
	background-color: #2B858D;
	top: 9rem;
	clear: both;
	position: fixed;
	right: 0;
	margin-top: 0;
}

.item-content-view.critic-zone nav.app-nav li {
	background-color: rgb(255, 32, 32);
}

.item-content-view.user-data ul li {
	width: 100%;
	margin-bottom: .5rem;
}


.user-value {
	margin-left: .6rem;
}
/*
.list-user-settings {
	padding: 1em 0 0 0;
}

.item-user-settings {
	padding: .75em 0;
	background-color: red;
	text-align: center;
	font-size: 3em;
	margin-bottom: 1em;
}

.user-data {
	padding: 1em 0;
	font-size: 3em;
}

.user-data .user-name {
	padding-left: .25em;
}*/